/*CONFIG PADRAO*/
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
     height: 100%;   
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*HEADER*/
header{
    height: 80px;
    background-color: whitesmoke;
}
/*BOX-CAPTURA*/
section.box-captura{
    height: 200px;
    background-color: white;
}
/*CONTENT*/
section.content{
    padding: 0 12%;
    height: 300px;
    background-color: black;
}

div.post{
    height: 100%;
    background-color: grey;
    width: 80%;
}

div.sidebar{
    height: 100%;
    background-color: lightgray;
    width: 20%;
}
/*FOOTER*/
footer{
    height: 180px;
    background-color: white;
}