/*CONFIG PADRAO*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', serif;
}

html,body{
     height: 100%;   
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

/*HEADER*/
header .container{
    padding: 30px 20%;
}

header .logo h2{
    color: rgb(120, 120, 120);
    cursor: pointer;
    font-size: 25px;
}

header .logo h2:hover{
    padding:  0 2px;
    color: #003238;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
    box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
    transform: scale(1.09,1.09);
    transition: 0.5s;
    border-radius: 4px;
}


header .menu ul{
   list-style-type: none;
}

header .menu ul li{
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
    padding: 4px;
    border-radius: 4px;
}

header .menu ul li:not( .not){
    border: 0.5px solid rgb(120, 120, 120);
}

header .menu ul li:not( .not):hover{
    background-color: #c9edf2;
    border: 0.5px solid #003238;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
-moz-box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
}

header .menu ul li:not( .not):hover a{
    color: #003238;
}

header .menu ul li input[type=text]{
    padding: 4px 2%;
    width: 100px;
    border-radius: 4px;
    border: 0.5px solid rgb(120, 120, 120);
    margin-right: 5px;
}

header .menu ul li input[type=text]:focus{
outline: 0;
border: 0.5px solid #003238;
}

header .menu ul li i{
    border: 0.5px solid rgb(120, 120, 120);
    width: 25px;
    padding: 6.5px;
    border-radius: 8px;
}

header .menu ul li i:hover{
    color: #003238;
}

header .menu ul li i:hover{
    background-color: #c9edf2;
    border: 0.5px solid #003238;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
-moz-box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
box-shadow: 0px 1px 2px 0px rgba(1,34,38,1);
}

header .menu ul li a{
    text-decoration: none;
    color: rgb(120, 120, 120);
}
/*BOX-CAPTURA*/
section.box-captura{
    height: 200px;
    background-color: white;
}
/*CONTENT*/
section.content{
    padding: 0 12%;
    height: 300px;
    background-color: black;
}

div.post{
    height: 100%;
    background-color: grey;
    width: 80%;
}

div.sidebar{
    height: 100%;
    background-color: lightgray;
    width: 20%;
}
/*FOOTER*/
footer{
    height: 180px;
    background-color: white;
}